.vscode
/dist
node_modules

packages/create-bruce-app/template/package-lock.json

examples/dino/package-lock.json
examples/nes-emulator/package-lock.json
examples/*
!examples/dino
!examples/nes-emulator
!examples/test-bruce-js

/bruce-emulator/src/storage.js